<!-- begin app. task form -->
<form>
    <div class="row text-center">
        <div class="col-xs-9">
            <div class="form-group">
                <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Descrição da tarefa">
            </div>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-primary btn-space"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
            <a class="btn btn-default btn-space"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        </div>
    </div>
</form>
<!-- end app. task form -->