<!-- begin app. table tasks -->
<div>
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>#</th>
				<th>Tarefa</th>
				<th></th>
			</tr>
			<tr *ngFor="let task of tasks">
				<th>{{ task.id }}</th>
				<td>{{ task.name }}</td>
				<td *ngIf="!task.done">
                    <a href="#" class="btn btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Concluir</a>
                </td>
				<td *ngIf="task.done">
					<a href="#" class="btn btn btn-success btn-xs disabled" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Concluída</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- end app. table tasks -->